#pane {
    -fx-background-image : url("../ui/gradient.GIF");
    -fx-opacity: 0.7;
    -fx-background-size: cover;
}

#mainLabel {
    -fx-text-fill: #F7F0F0;
}

#label {
    -fx-text-fill: rgba(53,57,82,1);
    -fx-alignment: center;
    -fx-background-color: rgba(247,240,240,1);
}

#username, #passwordText {
    -fx-font-family: "Monaco"
}

#password {
    -fx-font-size: 10px;
}

#button {
    -fx-background-radius: 5px;
    -fx-background-color: rgba(53,57,82,0.7);
}

#button:hover {
    -fx-background-color: rgba(53,57,82,0.3);
}

#button:pressed {
    -fx-background-color: rgba(53,57,82,1);
}

.text-field, .password-field {
    -fx-text-inner-color: rgba(247,240,240,1);
    -fx-background-color: rgba(53,57,82,0.3);
    -fx-border-color: rgba(53,57,82,0.3);
    -fx-border-width: 0 0 1 0;
}
.text-field:focused, .password-field:focused {
    -fx-border-color: rgba(247,240,240,1);
    -fx-border-width: 0 0 1 0;
    -fx-text-inner-color: rgba(247,240,240,1);
    -fx-background-color: rgba(53,57,82,0.3) ;
}

.check-box .box {
    -fx-background-color: transparent;
    -fx-background-image: url("../ui/unchecked.png");
    -fx-background-size: 18px 20px;
}

.check-box:selected .mark {
    -fx-background-color: transparent;
}

.check-box:selected .box {
    -fx-background-color: transparent;
    -fx-background-image: url("../ui/checked.png");
    -fx-background-size: 18px 20px;
}